{% load static %}

        <section class="brand-area brand-area-d">
            <div class="container">
                <div class="brand-slider swiper-container pt-50 pb-45">
                    <div class="swiper-wrapper">
                        <!-- Brand -->
                        {% for brand in brands %}
                        <div class="brand-item w-img swiper-slide">
                            <a href="#"><img src="{{ brand.image.url }}" alt="brand"></a>
                        </div>
                        {% endfor %}
                        <!-- End Brand -->
                    </div>
                </div>
            </div>
        </section>