{% load static %}

        <section class="banner__area pt-20 pb-10">
            <div class="container">
                <div class="row">
                    <!-- Banner -->
                    {% for banner in banner_top %}
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img">
                                <a href="product-details.html">
                                    <img src="{{ banner.image.url }}" alt="">
                                </a>
                            </div>
                            <div class="banner__content">
                                <h6><a href="product-details.html">{{ banner.promo_title }} <br> {{ banner.promo_subtitle }}</a></h6>
                                <p>{{ banner.promo_offer }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End Banner -->
                </div>
            </div>
        </section>