{% load static %}

        <section class="banner__area banner__area-d pb-10">
            <div class="container">
                <div class="row">
                    <!-- Banner -->
                    {% for banner in banner_middle %}
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="banner__item p-relative w-img mb-30">
                            <div class="banner__img">
                                <a href="product-details.html">
                                    <img src="{{ banner.image.url }}" alt=""></a>
                            </div>
                            <div class="banner__content">
                                <span>{{ banner.promo_title }}</span>
                                <h6><a href="product-details.html">{{ banner.promo_subtitle }}</a></h6>
                                <p>{{ banner.promo_offer }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- End Banner -->
                </div>
            </div>
        </section>