{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block content %}

    <main>
        <!-- 1_slider -area-start -->
        {% include 'products/inc/1_slider.html' %}
        <!-- slider-area-end -->

        <!-- 2_features _area-start -->
        {% include 'products/inc/2_features.html' %}
        <!-- features__area-end -->

        <!-- 3_banne r__area-start -->
        {% include 'products/inc/3_banne.html' %}
        <!-- banner__area-end -->

        <!-- 4_topsell __area-start -->
        {% include 'products/inc/4_topsell.html' %}
        <!-- topsell__area-end -->

        <!-- 5_banner __area-start -->
        {% include 'products/inc/5_banner.html' %}
        <!-- banner__area-end -->

        <!-- 6_topsell __area-start -->
        {% include 'products/inc/6_topsell.html' %}
        <!-- topsell__area-end -->

        <!-- 7_featured -start -->
        {% include 'products/inc/7_featured.html' %}
        <!-- featured-end -->

        <!-- 8_moveing -text-area-start -->
        {% include 'products/inc/8_moveing.html' %}
        <!-- moveing-text-area-end -->

        <!-- 9_banner __area-start -->
        {% include 'products/inc/9_banner.html' %}
        <!-- banner__area-end -->

        <!-- 10_recomand -product-area-start -->
        {% include 'products/inc/10_recomand.html' %}
        <!-- recomand-product-area-end -->

        <!-- 11_brand -area-start -->
        {% include 'products/inc/11_brand.html' %}
        <!-- brand-area-end -->
        
        <!-- 12_cta -area-start -->
        {% include 'products/inc/12_cta.html' %}
        <!-- cta-area-end -->

        <!-- 13_shop modal start -->
        {% include 'products/inc/13_shop.html' %}
        <!-- shop modal end -->
    </main>

{% endblock content %}